---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Binumi · About Binumi" description="About Binumi.">
  <main>
    <section class="section">
      <div class="container">
        <h1>About Binumi</h1>
      </div>
    </section>
  </main>
</BaseLayout>
